body {
    background-color: #c5def5;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #082e4d;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    text-align: justify;
  }
  
  ul {
    line-height: 3;
  }
  
  img {
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    max-width: 50%;
    height: auto;
  }

  .conteudo-centralizado {
    width: 80%;
    margin: 0 auto;
  }
  
  .conteudo-centralizado p {
    text-align: center; 
    margin-bottom: 10px;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #110d0d;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #4169e1;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff4500;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  